.header {
  text-align: center;
  border-bottom: solid 1px rgba(80, 80, 80, 0.8);
  padding: 0px 0px 15px 0px ;
  margin-bottom: 10px;
  color: rgb(246, 168, 95);
}

.flower-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#links {
  padding-left: 25px;
}

.content {
  padding-top: 85px;
  padding-left: 5px;
}

#can:hover {
  cursor: pointer;
}

.image {
  border: solid 1px black;
}

#guest-header {
  text-align: center;
  padding: 0px 0px 15px 0px ;
  margin-bottom: 10px;
  color: rgb(246, 168, 95);
}

button {
  height: fit-content;
  font-size: 15px;
  border-radius: 3px;
  background: linear-gradient(#fff, #ccc);
}

.table-columns td {
  padding-right: 100px;
}