<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Guest Book</title>
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/submitOnEnter.js"></script>
  </head>
  <body>
    <h1 id="guest-header"><a href="/"><<</a>Guest Book</h1>
    <h1> Leave a comment</h1>
    <form action="saveComment" method="POST">
      Name: <input type="text" name="name" required></br>
      Comment: <textarea name="comment" cols="40" rows="4" required></textarea></br>
      <button id="submit" formaction="saveComment">Submit</button>
    </form>
    <hr>
    <table id="comments-table">
      <thead>
        <td style="width:280px">DATETIME</td>
        <td style="width:280px">NAME</td>
        <td>COMMENTS_LIST</td>
      </thead>
        __COMMENTS__
    </table>
  </body>
</html>
